/* ==========================================================================
   Importing Web fonts
   ========================================================================== */

//  @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// Hint:  other formats removed https://blog.webjeda.com/optimize-fontawesome/ /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

// https://fonts.google.com/specimen/Inter
// https://fonts.google.com/specimen/Lato

// https://transfonter.org/


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Lato.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Inter-ExtraBold.woff') format('woff');
  font-display: swap;
}
