/* ==========================================================================
   Global style
   ========================================================================== */

html {
  box-sizing: border-box;
  font-size: $font-size-root;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 100%;
  font-family: $font-family-default;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $text-color;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 0.625em;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

h1, h2, h3, h4 {
  font-family: $font-family-display;
}
